<div class="todo-container">
  <h1>{{todoList.name}}</h1>
  <button [routerLink]="['/add-task', todoList.id, 'new']">Add new Task</button>
  <div class="todo-list">
    <ul cdkDropList [cdkDropListData]="todoList" (cdkDropListDropped)="handleDnD($event)">
      <li cdkDrag [cdkDragData]="item" *ngFor="let item of todoList.items">{{item.task}}
        <button [routerLink]="['/add-task', todoList.id, item.id]">Edit</button>
        <button (click)="removeTask(item.id)">Delete</button>
      </li>
      <div *ngIf="todoList.items.length === 0">
        No Items yet, add one pressing the button above
      </div>
    </ul>
  </div>
</div>
